.App {
  text-align: center;
}

#choicesDiv {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.jumpBroken {
  pointer-events: none;
  background-color: darkgrey;
}

#avatarImg {
  width: 400px;
  height: auto;
}